<div class="choice-page">

    <header>
      <div class="container-links">
        <div class="logo"></div>
        <button (click)="goToTeam()" class="team"></button>
      </div>
      <div class="search">
        <input [(ngModel)]="digimonName" type="text" placeholder="Digite aqui..." />
        <button class="choice" (click)="searchDigimon()"></button>
      </div>
    </header>
    <div class="container-page">
      <div class="container-story">
        <div class="story">
          <p>
            Digimon é uma franquia japonesa que surgiu no final dos anos 1990, conquistando fãs pelo mundo com histórias
            sobre amizade, coragem e amadurecimento. No centro de tudo estão os Digimons, criaturas digitais que vivem em
            um universo paralelo chamado Mundo Digital. Em cada série, humanos formam laços com Digimons e enfrentam
            desafios para proteger ambos os mundos.
          </p>
          <p>
            A primeira história, Digimon Adventure, acompanha crianças conhecidas como "Digiescolhidos", transportadas
            para o Mundo Digital durante um acampamento de verão. Com a ajuda de seus parceiros Digimons, elas enfrentam
            vilões como Devimon, Myotismon e os Mestres das Trevas, descobrindo os "Brasões", símbolos de virtudes como
            coragem e amor, que ajudam seus Digimons a evoluir. Temas como superação, amizade e trabalho em equipe são
            centrais nessa aventura.
          </p>
          <p>
            Digimon Adventure 02 expande o universo com novos Digiescolhidos, como Davis, Yolei e Cody, que enfrentam o
            Imperador Digimon, um humano que escraviza Digimons. Usando novas formas de evolução, como a Digievolução de
            Armadura, eles se unem para derrotar ameaças maiores, incluindo o poderoso MaloMyotismon.
          </p>
        </div>
      </div>
      <div class="details">
        <h3 style="margin-bottom: 1em">Digibusca:</h3>
        <img [src]="digimonData?.images[0].href || 'https://wikimon.net/images/7/71/Chara_noimage.jpg'" alt="Escolha um Digimon" />
        <div class="fds"></div>
        <button (click)="goToDetails()" class="goToDetails">Detalhes</button>
      </div>
    </div>
  </div>
  