<div class="team-page">
    <header>
        <div class="logo" (click) = "goToHome()"></div>
    </header>
    <main>
        
        <div class="card one">
            <a href="https://github.com/JGHP22">
                <div class="moldura">
                    <img src="/assets/joão.jpg" alt="João">
                </div>
                <div class="describe one">
                    <h3>Nome: João</h3>
                    <h5>Tipo: NaN</h5>
                    <h5>Atributos:
                        <ul>
                            <li>Nerd</li>
                            <li>NodeJS Emporar</li>
                        </ul>
                    </h5>
                </div>
            </a> 
        </div>

        <div class="card two">
            <a href="https://github.com/BrenoMartinsdoEirado">
                <div class="moldura">
                    <img src="/assets/breno.jpg" alt="Breno">
                </div>
                <div class="describe two">
                    <h3>Nome: Breno</h3>
                    <h5>Tipo: Leigo</h5>
                    <h5>Atributos:
                        <ul>
                            <li>Maluco</li>
                            <li>Backender</li>
                        </ul>
                    </h5>
                </div>
            </a>
        </div>

        <div class="card three">
            <a href="https://github.com/kayotc">
                <div class="moldura">
                    <img src="/assets/kayo.jpg" alt="Kayo">
                </div>
                <div class="describe three">
                    <h3>Nome: Kayo</h3>
                    <h5>Tipo: Esquisito</h5>
                    <h5>Atributos:
                        <ul>
                            <li>Preguiçoso</li>
                            <li>CSS King</li>
                        </ul>
                    </h5>
                </div>
            </a>
        </div>

        <div class="card four">
            <a href="https://github.com/MR3K13">
                <div class="moldura">
                    <img src="/assets/marcus.jpg" alt="Marcus">
                </div>
                <div class="describe four">
                    <h3>Nome: Marcus</h3>
                    <h5>Tipo: Gamer</h5>
                    <h5>Atributos:
                        <ul>
                            <li>Vagabundo</li>
                            <li> Java Lover🏳️‍🌈🌈</li>
                        </ul>
                    </h5>
                </div>
            </a>
        </div>

        <div class="card five">
            <a href="https://github.com/1Lucas5">
                <div class="moldura">
                    <img src="/assets/lucas.jpg" alt="Lucas">
                </div>
                <div class="describe five">
                    <h3>Nome: Lucas</h3>
                    <h5>Tipo: Cacheado</h5>
                    <h5>Atributos:
                        <ul>
                            <li>Alto</li>
                            <li>Frontender</li>
                        </ul>
                    </h5>
                </div>
            </a>    
        </div>

    </main>
</div>
