<div class="team-page">
    <div class="background"></div>
    <div class="container-links">
        <div (click) = "goToChoice()" class="logo"></div>
        <button (click) = "goToHome()" class="home"></button>
    </div>

    
    <div class="container-cards">
        <div class="card-two card">
            <a href="https://github.com/BrenoMartinsdoEirado">
                <div class="photo"></div>
                <div class="fds"></div>
                <div class="describe">
                    <h2>Nome - Breno</h2>
                    <h4>Tipo - Leigo</h4>
                    <h4>Atributos - Maluco e Backend </h4>
                </div>
            </a>
            
        </div>
        <div class="card-three card">
            <a href="https://github.com/kayotc">
                <div class="photo"></div>
                <div class="fds"></div>
                <div class="describe">
                    <h2>Nome - Kayo </h2>
                    <h4>Tipo - TDAH </h4>
                    <h4>Atributos - Preguiçoso e CSS King </h4>
                </div>
            </a>
        </div>
        <div class="card-four card">
            <a href="https://github.com/Mr3K13">
                <div class="photo"></div>
                <div class="fds"></div>
                <div class="describe">
                    <h2>Nome - Marcus</h2>
                    <h4>Tipo - Branco e rico </h4>
                    <h4>Atributos - Vagabundo e Java Lover </h4>
                </div>
            </a>
        </div>
        <div class="card-five card">
            <a href="https://github.com/1Lucas5">
                <div class="photo"></div>
                <div class="fds"></div>
                <div class="describe">
                    <h2>Nome - Lucas</h2>
                    <h4>Tipo -  Cacheado</h4>
                    <h4>Atributos - Alto e Frontend </h4>
                </div>
            </a>
        </div>
    </div>

    <div class="card-one card">
        <a href="https://github.com/JGHP22">
            <div class="photo"></div>
            <div class="fds"></div>
            <div class="describe">
                <h2>Nome - João</h2>
                <h4>Tipo - Nerd</h4>
                <h4>Atributos - NaN e NodeJS Emperor </h4>
            </div>
        </a>
    </div>
    
</div>
