.team-page{
    height: 100vh;
    width: 100vw;
    display: inline-flex;
   

    .container-links{
        height: fit-content;
        width: 25%;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;

        .logo{
            height: 130px;
            width: 160px;
            background-image: url('/images/logo.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform ease .3s;

            &:hover {
                transform: scale(1.1);
            }
        }
        
        button{
            border: solid 2px #ec6c04;
            border-radius: 7px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
            padding: 25px;
            background: none;
            transition: .7s;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60%;
            border-radius: 50%;
    
            &:hover {
                transform: scale(1.2);
                box-shadow: 0px 6px 15px rgba(236, 108, 4, 0.8);
            }
        }
        .home{
            background-color: #e9700c;
            background-image: url('/images/home.png');
        }
    }

    .container-cards{
        position: relative;
        height: 100%;
        width: 70%;
        
        .card-two{
            top: 30px;
            left: 10px;
            
            .describe{
                border-radius: 5px;
                padding: 10px;
                background: linear-gradient(270deg, #5ebbe0d0, #98d7f0d9 )
            };
            .photo{
                background-image: url('/assets/breno.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }

            &:hover{
                box-shadow: 0px 10px 30px rgba(0, 255, 255, 0.5);
            }
        }
        .card-three{
            bottom: 30px;
            left: 260px;
            
            .describe{
                border-radius: 5px;
                padding: 10px;
                background: linear-gradient(270deg, #d9ae00b9, #e6b904de);
            };

            .photo{
                background-image: url('/assets/kayo.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:hover{
                box-shadow: 0px 10px 30px rgba(212, 209, 20, 0.5);
            }
        }
        .card-four{
            top: 30px;
            left: 510px;
            .describe{
                border-radius: 5px;
                padding: 10px;
                background: linear-gradient(150deg, #882d36b9, #a83e49de);
            };

            .photo{
                background-image: url('/assets/marcus.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:hover{
                box-shadow: 0px 10px 30px rgba(233, 3, 3, 0.5);
            }
        }
        .card-five{
            bottom: 30px;
            left: 760px;
            .describe{
                border-radius: 5px;
                padding: 10px;
                background: linear-gradient(75deg, #734126b9,#9b5a38f8);
            };
            .photo{
                background-image: url('/assets/lucas.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &:hover{
                box-shadow: 0px 10px 30px rgba(241, 89, 0, 0.5);
            }
        }
    }

    .card-one{
        bottom: 30px;
        left: 100px;
        .describe{
            border-radius: 5px;
            padding: 10px;
            background: linear-gradient(75deg, #f1aa40b9,#eb9e47f8);
        };
        .photo{
            background-image: url('/assets/joão.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &:hover{
            box-shadow: 0px 10px 30px rgba(255, 166, 0, 0.5);
        }
    }

}

.card{
    padding: 8px 9px 4px 9px;
    border-radius: 5px;
    position: absolute;
    height: 360px;
    width: 220px;
    display: flex;
    align-items: end;
    flex-direction: column;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform ease .2s;
    background: rgba(82, 73, 117, 0.9);
    
    &:hover {
        transform: scale(1.1) rotate(-2deg)
      }

        
}

.photo{
    height: 65%;
    width: 100%;
    border-radius: 5px;
}

.describe{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fds{
    height: 20px;
}

a{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
}
