<div class="details-page">
    <div class="background"></div>
    <header>
      <div class="container-links">
        <div (click)="goToChoice()" class="logo"></div>
        <button (click)="goToHome()" class="home"></button>
        <button (click)="goToTeam()" class="team"></button>
      </div>
    </header>
    
  
    <main>
        <div class="details one">
          <img [src]="digimonDetails?.images[0].href" *ngIf="digimonDetails?.images?.length" alt="{{ digimonDetails?.name }}" />
          <h2>Nome: {{ digimonDetails?.name | uppercase }}</h2>
          <h4>Nível: {{ digimonDetails?.levels[0].level }}</h4>
          <h4>Atributos:
            <li *ngFor="let attribute of digimonDetails?.attributes">
              {{ attribute.attribute }}
            </li>
          </h4>
        </div>
            
          
        <div class=" details two">
          <h4>Tipos:
            <li *ngFor="let type of digimonDetails?.types">
              {{ type.type }}
            </li>
          </h4>
          <h4>Campos:
            <li *ngFor="let field of digimonDetails?.fields">
              <img [src]="field.image" alt="{{ field.field }}" />
              <p>{{ field.field }}</p>
            </li>
          </h4>  
        </div>
        <div class=" details three">
          <h4>Data de Lançamento: {{ digimonDetails?.releaseDate }}</h4>
          <h4>Descrição:</h4>
          <p>{{ digimonDetails?.descriptions[1]?.description }}</p>
        </div>
        <div class="details four">
          <h4> Evoluções: 
            <li *ngFor = "let digimon of digimonDetails?.priorEvolutions">
              {{ digimon.digimon}}
            </li>
          </h4>
        </div>
    </main>
</div>
  