.main-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    header{
        position: relative;
        height: 25%;
        width: 100%;
        .container-links{
            height: 25%;
            width: 25%;
            position: relative;
        
            .logo{
                height: 130px;
                width: 160px;
                position: absolute;
                top: 10px;
                left: 30px;
                background-image: url('/images/logo.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
            
            button{
                border: solid 2px #ec6c04;
                border-radius: 7px;
                box-shadow: 0px 2px 8px 4px #2020208e;
                padding: 25px;
                background: none;
                transition: .7s;
                position: absolute;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;
        
                &:hover{
                    border-radius: 45%;
                    transform: scale(1.13);
                    box-shadow: 1px 0px 20px 1px #eed232fd ;;
                }
            }
            .home{
                background-image: url('/images/team.png');  
                top: 55px;
                right: 40px;
            }
        }

        .search{
            position: absolute;
            height: 90%;
            width: 70%;
            right: 0;
            bottom: 0;
            align-items: center;
            justify-content: center;
            display: flex;
            flex-direction: column;

            input{
                color: #ec6c04;
                padding: 15px;
                width: 90%;
                border-radius: 7px;
                border: solid 2px #ec6c04;
                background: #ffffffe1;
            }

            

            button{
                padding: 15px 85px;
                border: solid 2px #ec6c04;
                background: #ffffffcb;

                cursor: pointer;
                transition: .6s;
                border-radius: 6px;
                &:hover{
                    transform: scale(1.08);
                    
                }
            }
        }
    }

    main{
        position: relative;
        height: 90%;
        width: 100%;

        .show{
            justify-content: center;
            justify-content: space-around;
            font-size :1em;
            padding: 0 0 0 20px;
            flex-direction: column;
            color: aliceblue;
            display: flex;
            top: 40px;
            right: 250px;
            position: absolute;
            height: 85%;
            width: 25%;
            background-color: #524975d5;
            border-radius: 12px;
        }

        .moldura{
            border-radius: 12px;
            height: 85%;
            width: 20%;
            position: absolute;
            left: 350px;
            top: 40px;
            background-color: #524975;
            padding: 20px;

            .white{
                background-color: #fff;
                border-radius: 5px;
                height: 100%;
                width: 100%;
                padding: 2px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }

            
        }

    }
}

.fds{
    height: 25px;
}