<div class="main-page">
    <div class="background"></div>
    <header>
        <div class="container-links">
            <div (click) = "goToChoice()" class="logo"></div>
            <button (click) = "goToTeam()" class="team"></button>
        </div>  
        <div class="search">
            <input [(ngModel)] = "digimonName" type="text" placeholder="Digite aqui...">
            <button (click)="searchDigimon()"></button>
        </div>
    </header>  
    <div class="fds"></div>
    <main>
        <div class="moldura" (click) = "goToDetails()">
            <div class="white">
                <img [src]="digimonData?.images[0].href" >
            </div>
        </div>
        <div class="show">

            <h1> Nome: {{ digimonData?.name | uppercase}} </h1>

            <h2>Atributos:
                <li *ngFor= "let attribute of digimonData?.attributes">
                    {{ attribute.attribute }}
                </li>
            </h2>
        
            <h2> Tipos: 
                <li *ngFor = "let type of digimonData?.types">
                    {{ type.type }} 
                </li>
            </h2>
        </div>
    </main>
</div>





